.banner {
    text-align: center;
    letter-spacing: mainSpacing;
    color: $color-white;
  h1 {
    font-size: 3.3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding: 0 1rem;
    letter-spacing: 6px;
    @include tablet {
        font-size: 4.5rem;
    }
  }
   h2 {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 2rem;
    @include tablet {
        width: 70%;
    }
  }
}
 