.instaPosts {
    padding: 4rem 0;

    &__center {
        display: grid;
        gap: 2rem;
        margin: auto;
        padding-bottom: 2rem;
        justify-content: center;
        align-items: center;

        @include large {
            grid-template-columns: repeat(2, 400px);
        }

        @include desktop {
            grid-template-columns: repeat(3, 400px);
        }
    }
}

.instaPost {
    box-shadow: $light-shadow;
    transition: $mainTransition;
    @include box(400px);
    margin: auto;

    &:hover {
        box-shadow: $dark-shadow;
      }
    
    &__container {
        @include box(100%);
        position: relative;
        background: $color-primary;
        transition: $mainTransition;

        &:hover .instaPost__img{
            opacity: 0.3;
          }
        
        &:hover .instaPost__link {
            opacity: 1;
          }
    }
    &__img {
        transition: $mainTransition;
    }

    &__link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        text-transform: uppercase;
        letter-spacing: $mainSpacing;
        color: $color-white;
        border: 2px solid $color-white;
        padding: 1rem 1.4rem;
        display: inline-block;
        transition: $mainTransition;
        cursor: pointer;

        &:hover {
            background: $color-white;
            color: $color-primary;
          }
    }
}