// colors
$color-white: #F2F4FB;
$color-dark: #45315D;
$color-primary: #FF2400;
$color-secondary: #FF9280;

// fonts

$font-primary: "ubuntu", sans-serif;
$font-secondary: "Baloo Toma 2";

$mainSpacing: 4px;
$mainTransition: all 0.3s linear;

// Shadows

$light-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$dark-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);



